:root {
--titulos: color:#e89b93 ;
--artigos: color: #b78e80 ;
--texto: color: #4c4c4b ;
--fundo:color: #dfb2a9 ;
}
* {
    margin: 0%;
    padding: 0%;
}
a {
    text-decoration: none;
    color: #4c4c4b ;   
}
 body {
   
 }

.titulo {

    color: #4c4c4b ;
    background-color:#e89b93 ;
    text-align: center;
    width: 100%;
    height: 150px;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navegacao {
    
    border-top: 2px solid rgb(252, 252, 252);
    padding: 10px 30px; 
    background-color: #e89b93;
    font-size: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
body{
    background-color: #dfb2a9;
}
header { 
    background-image:url(img/79909305-c2fd-4aed-b2ec-012d4a88cc0b.jpg);
    display: flex;
    align-items: center;
    margin: 0% 10%;
}
.perfil {
    margin: 52px 5px;
    max-width: 300px;
    max-height: 275px;
    width: auto;
    height: auto;
}
p, h1, h2 , span, li, td , tr{
    color: #4c4c4b;
}
.textodoperfil {
    font-size: 35px;
    position: relative;
    left: 50px;
}
section {
    margin: 0px 10px;
}

.tabela {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

}
thead {
    font-size: 60px;
    text-align: center;
}
section {
    margin: 0px 135px;
    background-image:url(img/79909305-c2fd-4aed-b2ec-012d4a88cc0b.jpg);
}
td {
    height: 110px;
    width: 310px;
    padding: 10px 120px;
    padding-left: 0px;
    font-size: 24px;
    position: relative;
    left: 110px;
}
tr {
    width: 100px;
}
.especialidades{
    font-size: 65px;
    position: relative;
    left: 300px;
}
.trabalhos {
    padding-bottom: 10px;
    display: flex;
        width: 1070px;
        justify-content: space-evenly;
}
.conteinerfotos {
    padding-top: 20px;
    padding-bottom: 36px;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
}
.fotos {
    width: 200px;
    height: 200px;
}
footer {
    height: 500px;
    background-image:url(img/79909305-c2fd-4aed-b2ec-012d4a88cc0b.jpg);
    display: flex;
    align-items: center;
    margin: 0% 10%;
}
.contato {
    font-size: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

}
.textocont  {
    margin-bottom: 66px;
    position: relative;
    left: 70px
}
.final {
    font-size: 28px;
    position: relative;
    right:180px;
    gap: 100px;
    display: flex;
    align-items: baseline; 
}
