:root {
--titulos: color:#e89b93 ;
--artigos: color: #b78e80 ;
--texto: color: #4c4c4b ;
--fundo:color: #dfb2a9 ;
}
* {
    margin: 0%;
    padding: 0%;
}
a {
    text-decoration: none;
    color: #4c4c4b ;
    
    
}

.titulo {
    color: #4c4c4b ;
    background-color:#e89b93 ;
    text-align: center;
    width: 100%;
    height: 150px;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navegacao {
    padding: 10px 30px; 
    background-color: #e89b93;
    font-size: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  

    

    

}

